
    <div id="commentSection" class="ui segment">
        <div class="ui container comments-content ">
            <form action="/comments" method="POST">
                <% if (currentUser) { %> 
                    <label>Comment as <%= currentUser.username %>  </label>
                <% } else { %> 
                    <label>Login to Comment</label>
                <% } %> 
                <div style="width: 100%; padding: 0 30px; height: 100px; margin-top: 4px;">
                    <textarea id="textArea" name="text" placeholder="Join the discussion..."></textarea>
                </div>
                <div style="height: 40px; margin: 15px 25px;">
                    <button class="ui inverted secondary button">Add comment</button>
                </div>
            </form>

            <hr style="margin-top: 25px;" class="header-hr"> 
                
            <div style="margin: auto 30px; margin-bottom: 30px;">
                <% comments.forEach(function(comment) { %>
                    <div class="comments">
                        <div><%= comment.user.username  %> <small class=""> | <%= comment.dateAdded.toDateString() %></small> </div>
                        <div style="margin-bottom: 5px; margin-top: 5px;"><%= comment.text %></div>
                        <div class="comment-toolbar">
                                <button style="display: flex;" class="ui compact icon button">
                                    <i class="comment icon"></i><span style="margin-left: 4px">reply</span>
                                </button>
                                <button class="ui compact icon button">
                                    share
                                </button>
                                <button class="ui compact icon button edit-button">
                                    edit
                                </button>
                            <div class="overflow-content">
                                <div tabindex="0" class="ui compact icon inline dropdown button">
                                    <i class="ellipsis horizontal icon"></i>
                                </div>  
                                <div role="menu" class="menu" aria-haspopup="true">
                                    <div class="ui vertical buttons">
                                        <form method="POST">
                                            <button role="menuitem" class="ui button" formaction=""><i class="comment icon"></i> Reply</button>
                                            <button role="menuitem" class="ui button" formaction=""><i class="share icon"></i> share</button>
                                            <button role="menuitem" class="ui button edit-button" type="button"><i class="edit icon"></i>edit  </button>
                                            <button role="menuitem" class="ui button" formaction="comments/<%= comment._id%>?_method=DELETE"><i class="trash icon"></i> delete</button>    
                                        </form>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/js/dropdown.js"></script>
    <script type="text/javascript" src="/js/commentform.js"></script>
</body>
</html>