<%- include("./partials/header.ejs")%>

    <script type="text/javascript">
        console.log("sds ");
    </script>

    <div class="ui grid">
        <div class="row">
            <div class="eight wide column">
                <div class="ui segment">
                    <div class="main-header">
                        <h1>EDIT <%= movie.title%></h1>
                    </div>    
                    <hr class="header-hr"> 
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="eight wide column">
                <div class="ui segment">
                    <form class="ui form inverted" action="/watchlist/<%= movie.id%>?_method=PUT" method="POST">
                        <div class="two fields">
                            <div class="field">
                                <label>Title</label>
                                <input class="input" type="text" name="movie[title]" placeholder="Title" value="<%= movie.title%>">
                            </div>  
                            <div class="field">
                                <label>Genre</label>
                                <input class="input" type="text" name="movie[genre]" placeholder="Genre" value="<%= movie.genre%>">
                            </div>
                        </div>
                        <div class="field">
                            <label>Synopsis</label>  
                            <textarea id="textArea" name="movie[synopsis]" placeholder="synopsis"><%= movie.synopsis%></textarea>
                        </div>
                        <div class="field">
                            <label>Status</label>
                            <select id="status" name="movie[status]" value="<%= movie.status%>" class="">
                                <option value="Plan To Watch">Plan To Watch</option>
                                <option value="Watching">Watching</option>
                                <option value="Completed">Completed</option>
                                <option value="On-Hold">On-Hold</option>
                                <option value="Dropped">Dropped</option>
                            </select>    
                        </div>
                        <div class="btn-div">
                            <button class="ui inverted secondary button" type="submit">Submit</button>
                            <button formaction="/watchlist/<%= movie.id%>?_method=DELETE" class="ui inverted secondary button" type="submit"> Delete</button>
                            <a href="/watchlist"><button type="button" class="ui inverted secondary button">Cancel</button></a>    
                        </div>
                    </form>
                    </div>
                </div>    
            </div>
        </div>

<%- include("./partials/footer.ejs")%>