<%- include("./partials/header.ejs")%>
    

    <div id="searchSection" class="ui segment">
        <div class="search">
            <form class="ui form inverted">
                <div class="field">
                    <label>Search for an anime</label>
                    <input id="anime-search" class="input" type="text" name="username" placeholder="search eg.(Kaguya-sama)">
                </div>  
            </form>
        </div>
        <div class="search-list">
        </div>
    </div>


    <div class="ui segment container">
        <div class="ui left rail">
            <div class="ui segment list">
                <div class="item">
                    <a href="#"><span>Edit Profile</span></a>
                </div>
                <div class="item">
                    <a href="/watchlist/new"><span>New item</span></a>
                </div> 
                <div class="item">
                    <a href="/logout"><span>Log out</span></a>
                </div>
            </div>
        </div>
        <div class="ui list">
            <div class="ui header main-header"><i class="far fa-bookmark"></i><h1>Watch List</h1></div>
            <hr class="header-hr"> 
            <% if (movies.length === 0) { %>
                <div class="item">
                    <div class="ui grid">
                        <div style="font-size: 2em" class="header">
                            <span>Your WatchList is Empty.</span>
                        </div>
                        <a href="/watchlist/new"><button class="ui icon button">Add New item</button></a>
                    </div>
                </div>
            <% } else { %>
                <% movies.forEach((movie) => { %>
                    <div class="item">
                        <div class="ui grid">
                            <div class="two wide column" style="width: 10%!important; height: 100%; padding: 5px;">
                                <a href="/watchlist/<%= movie.id%>" class="thumb">
                                    <img class="ui image" src="<%= movie.image_url %>">
                                </a>
                            </div>
                            <div class="ten wide column">
                                <div class="middle aligned content">
                                    <div class="header">
                                        <h3><a href="/watchlist/<%= movie.id%>"><%= movie.title %></a></h3>
                                    </div>
                                    <div id="genre" class="meta">
                                        <span><%= movie.genre%></span>
                                    </div>    
                                </div>
                            </div>    
                            <div class="two wide column">
                                <div id="status" class="meta">
                                    <span id="status" class="right"><%= movie.status%></span>
                                </div>
                            </div>
                            <div class="one wide column">
                                <a href="/watchlist/<%= movie._id%>/edit">
                                    <button class="ui compact labeled icon button">
                                        <i class="edit icon"></i>
                                        edit
                                    </button>           
                                </a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>

    <script src="/js/jikan-bundle.js"></script>
    
<%- include("./partials/footer.ejs")%>